<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="outer-contain">
        <div class="container">
            <div class="inner-container">
                <h1>歡迎光臨，這是會員頁</h1>
                <h2>恭喜您，成功登入系統</h2>
                <a href="/signout">登出系統</a>
            </div>
        </div>
    </div>
</body>
</html>
